@use "./scss/global.scss" as *;
// @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

:root {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: $white-color;
  background-color: $background-color;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

h1 {
  font-family: 'Jost', sans-serif;
  margin: 0px;
}

h2 {
  font-size: $large-header;
  letter-spacing: 0.4rem;
}

@media screen and (max-width: 1320px) {
  h2 {
    font-size: $large-medium-header;
  }
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: $medium-header;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: $small-header;
  }
}

.medium-header {
  font-size: 32px;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 24px;
  letter-spacing: 0.2rem;
}

h4 {
  font-size: 18px;
  letter-spacing: 0.2rem;
}

p {
  font-size: $large-text;
  color: $text-color;
}

@media screen and (max-width: 650px) {
  p {
    font-size: $small-text;
    color: $text-color;
  }
}

strong {
  color: $white-color;
}