// All of the global variables
// Colors
$border-color: #97989b;
$main-color: #0A0A12;
$background-color: #111118;
$button-color: #111111;
$text-color: #B4B9BD;
$white-color: #FFFEFF;
// Font sizes
$title-header: 5.63em;
$large-header: 4.5em;
$medium-header: 2em;
$small-header: 1.5em;
$tiny-header: 1.13em;
$large-text: 1.25em;
$small-text: 1em;
$tiny-text: 0.88em;