/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$border-color: #97989b;
$main-color: #0A0A12;
$button-color: #111111;

.intro-guides {
    background-image: url(../img/guide-banner.png) !important;
}

.hider {
    z-index: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-animation: fadein forwards 0.3s;
            animation: fadein forwards 0.3s;
}

.inactive {
    -webkit-animation: fadeout forwards 0.3s;
            animation: fadeout forwards 0.3s;
}

@-webkit-keyframes fadein {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fadein {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; display: -webkit-box; display: flex;}
    100% { opacity: 0; display: none;}
}

@keyframes fadeout {
    0% { opacity: 1; display: -webkit-box; display: -ms-flexbox; display: flex;}
    100% { opacity: 0; display: none;}
}

.box-shadow {
    -webkit-box-shadow:
        0 0 0 4px $main-color,
        0 0 0 7px hsl(0, 0%, 90%);
            box-shadow:
        0 0 0 4px $main-color,
        0 0 0 7px hsl(0, 0%, 90%);
}

// CSS for the sorting functions
.sorting-container-guides {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: auto;
    background-color: $main-color;

    h2 {
        margin: 0px 20px 0px 70px;
    }

    .menu-container {
        z-index: 2;

        .menu-selector {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 220px;
            height: 60px;
            font-size: 18px;
            background-color: $button-color;
            border: 3px solid $border-color;
            color: white;
            text-align: center;
            outline: none;
            cursor: pointer;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            margin: 0px 20px;
            letter-spacing: 0.2rem;
        }

        .menu-selector:hover {
            -webkit-box-shadow:
                0 0 0 4px $main-color,
                0 0 0 7px hsl(0, 0%, 90%);
                    box-shadow:
                0 0 0 4px $main-color,
                0 0 0 7px hsl(0, 0%, 90%);
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }

        .dropdown-menu {
            display: none;
            margin-top: 13px !important;
            border: 3px solid $border-color;
            position: absolute;
            cursor: pointer;
            z-index: 2;
            background-color: $button-color;
            margin: 0px 20px;

            ul {
                padding: 0px;
                margin: 0px;
                z-index: 100;

                li {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;        
                    -webkit-box-align: center;        
                        -ms-flex-align: center;        
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    list-style-type: none;
                    text-decoration: none;
                    width: 220px;
                    height: 60px;
                    font-size: 18px;
                    border-bottom: 2px solid $border-color;
                    color: white;
                    text-align: center;
                    outline: none;
                }

                li:last-child {
                    border-bottom: none !important;
                }

                li:hover {
                    background-color: rgb(65, 65, 65);
                }
            }
        }
    }
}

@media screen and (min-width: 2500px) {
    .sorting-container-guides {
        -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
                justify-content: center !important;
    }
}

@media screen and (max-width: 910px) {
    .sorting-container-guides {

        .medium-header {
            display: block;
            margin: 0px 0px 0px 20px;
            font-size: 25px;
            letter-spacing: 0.2rem;
        }
    }
}

@media screen and (max-width: 720px) {
    .sorting-container-guides  {

        .medium-header {
            display: none;
        }

        .menu-container {
            margin: 0px !important;
        }

        .dropdown-menu {
            margin: 0px !important;
        }
    }
}

.largeLine {
    margin: 10px 0px 0px 0px;
    border: 1px solid $border-color;
}

.smallLine {
    margin: 0px;
    width: 40px;
    border: 3px solid $border-color;
}

.guide-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 100px;
  
    .guide-container {
        width: 1600px;
        padding: 0px 0px 40px 0px;
        -webkit-animation: fadeCards 2.6s;
                animation: fadeCards 2.6s;

        .guide-card-img {
            width: 100%;
            background-position: 730px bottom;
            background-size: contain;
            border-radius: 50px;
            margin-top: 40px;

            .layer {
                background-image: -o-radial-gradient(100% 50%, circle, rgba(10, 10, 18, 0.7), $main-color, $main-color);
                background-image: radial-gradient(circle at 100% 50%, rgba(10, 10, 18, 0.7), $main-color, $main-color);
                border-radius: 50px;
                position: relative;
                display: flex;

                .guide-card {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    height: 420px;
                    width: 55%;
                    padding: 40px;

                    .flex-container {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;

                        h3 {
                            margin: 0px 0px 10px 20px;
                        }
    
                        .under-header {
                            margin-top: 40px;
                        }
    
                        p {
                            margin: 40px 0px 10px 20px;
                        }
                    }

                    .button {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        width: 220px;
                        height: 60px;
                        font-size: 18px;
                        background-color: $button-color;
                        border: 3px solid $border-color;
                        color: white;
                        text-align: center;
                        outline: none;
                        cursor: pointer;
                        -webkit-transition: 0.3s;
                        -o-transition: 0.3s;
                        transition: 0.3s;
                        margin: 40px 0px 0px 20px;
                        text-decoration: none;
                        letter-spacing: 0.2rem;
                    }
    
                    .button:hover {
                        -webkit-box-shadow:
                            0 0 0 4px $main-color,
                            0 0 0 7px hsl(0, 0%, 90%);
                                box-shadow:
                            0 0 0 4px $main-color,
                            0 0 0 7px hsl(0, 0%, 90%);
                        -webkit-transition: 0.3s;
                        -o-transition: 0.3s;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1700px) {
        .guide-container {
            width: auto;
            padding: 0px 20px 40px 20px;
        }
    }

    @media screen and (max-width: 1450px) {
        .guide-container {
    
            .guide-card-img {
                width: 100%;
                background-position: 400px bottom;
                background-size: cover;
                border-radius: 50px;
                margin-top: 40px;
            }
        }
    }

    @media screen and (max-width: 1250px) {
        .guide-container {
    
            .guide-card-img {
                background-position: 300px bottom;

                .layer {

                    .guide-card {
                        width: 70%;
                        height: auto;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 920px) {
        .guide-container {
    
            .guide-card-img {
                background-position: 0px bottom;

                .layer {

                    .guide-card {
                        width: 90%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 769px) {
        .guide-container {
    
            .guide-card-img {
                background-position: -200px bottom;

                .layer {

                    .guide-card {
                        align-items: center;

                        .flex-container {

                            .medium-header {
                                margin: 0px 0px 10px 20px;
                                font-size: 28px;
                            }

                            .under-header {
                                margin: 20px 0px 10px 20px;
                                font-size: 20px;
                            }

                            p {
                                font-size: 18px;
                                margin: 20px 0px 10px 20px;
                            }
                        }

                        .button {
                            margin: 20px 0px 10px 20px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 540px) {
        .guide-container {
    
            .guide-card-img {

                .layer {

                    .guide-card {

                        .flex-container {

                            .medium-header {
                                margin: 0px 0px 10px 0px;
                                font-size: 24px;
                            }

                            .under-header {
                                margin: 20px 0px 10px 0px;
                                font-size: 18px;
                            }

                            p {
                                font-size: 18px;
                                margin: 20px 0px 10px 0px;
                            }
                        }

                        .button {
                            margin: 20px 0px 10px 0px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 350px) {
        .guide-container {
    
            .guide-card-img {

                .layer {

                    .guide-card {

                        .flex-container {

                            .medium-header {
                                font-size: 20px;
                            }

                            .under-header {
                                font-size: 16px;
                            }

                            p {
                                font-size: 16px;
                            }
                        }

                        .button {
                            width: 170px;
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes fadeGuide {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        margin-top: 50px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes fadeGuide {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        margin-top: 50px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

.guide-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 100px;

    .modal {
        cursor: pointer;
        display: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 5;

        img {
            margin-top: 70px;
            height: 840px;
            border-radius: 50px;
            -webkit-box-shadow: 0px 0px 30px black;
                    box-shadow: 0px 0px 30px black;
        }
    }

    .active {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-animation: fadein forwards 0.1s;
                animation: fadein forwards 0.1s;
    }
    
    .inactive {
        -webkit-animation: fadeout forwards 0.1s;
                animation: fadeout forwards 0.1s;
    }
    
    @-webkit-keyframes fadein {
        0% { opacity: 0;}
        100% { opacity: 1;}
    }
    
    @keyframes fadein {
        0% { opacity: 0;}
        100% { opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
        0% { opacity: 1; display: -webkit-box; display: flex;}
        100% { opacity: 0; display: none;}
    }
    
    @keyframes fadeout {
        0% { opacity: 1; display: -webkit-box; display: -ms-flexbox; display: flex;}
        100% { opacity: 0; display: none;}
    }

    .clickable {
        cursor: pointer;
    }

    .guide-page-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 95%;
        max-width: 1920px;

        .background-slide {
            background-position: -100% 0%;
            -webkit-transition: ease-in-out 1s;
            -o-transition: ease-in-out 1s;
            transition: ease-in-out 1s;
        }

        .content-fade {
            -webkit-animation: fade-in 2s forwards;
                    animation: fade-in 2s forwards;
        }

        @-webkit-keyframes fade-in {
            0% {
                opacity: 0;
            }
            55% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            55% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .navigation-window {
            padding: 10px 35px 30px 30px;
            width: 280px;

            .navigation {
                padding: 10px 30px 30px 30px;
                margin-left: -30px;
                margin-top: -10px;
                position: fixed;
                width: 280px;
                background-size: 200% 100%;
                background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, $main-color));
                background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 50%, $main-color 50%);
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, $main-color 50%);
                border-left: solid 5px $border-color;

                .wrapper {
                    opacity: 0;

                    .nav-large {
                        display: inline-block;
                        text-decoration: none;
                        font-weight: 600;
                        color: #fefefe;
                        font-size: 24px;
                        letter-spacing: 0.2rem;
                        margin: 20px 0px 0px 10px;
                        -webkit-transition: ease-in-out 0.2s;
                        -o-transition: ease-in-out 0.2s;
                        transition: ease-in-out 0.2s;
                    }
        
                    .nav-large:hover {
                        padding-left: 10px;
                        -webkit-transition: ease-in-out 0.2s;
                        -o-transition: ease-in-out 0.2s;
                        transition: ease-in-out 0.2s;
                    }
        
                    .nav-small {
                        display: inline-block;
                        text-decoration: none;
                        font-weight: 600;
                        color: #B4B9BD;
                        font-size: 18px;              
                        letter-spacing: 0.2rem;
                        margin: 0px 0px 0px 10px;
                        -webkit-transition: ease-in-out 0.2s;
                        -o-transition: ease-in-out 0.2s;
                        transition: ease-in-out 0.2s;
                    }
        
                    .nav-small:hover {
                        padding-left: 10px;
                        -webkit-transition: ease-in-out 0.2s;
                        -o-transition: ease-in-out 0.2s;
                        transition: ease-in-out 0.2s;
                    }
        
                    h3 {
                        margin: 20px 0px 0px 10px;
                    }
        
                    h4 {
                        color: #97989b;
                        margin: 0px 0px 0px 10px;
                    }
                }
            }
        }

        .information {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            section {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                width: 1100px;
                padding: 20px 50px 20px 50px;
                background-size: 200% 100%;
                background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, $main-color));
                background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 50%, $main-color 50%);
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, $main-color 50%);
                border-left: solid 5px $border-color;
                margin-top: 50px;

                a {
                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    text-decoration: underline;
                }

                .wrapper {
                    opacity: 0;

                    span {
                        position: relative;
                        letter-spacing: 0.4rem;
                        -webkit-filter: none;
                                filter: none;
                    }

                    h3 {
                        margin: 20px 0px 20px 20px;
                    }

                    p {
                        margin-bottom: 0px;
                    }
    
                    .info {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        margin: 20px 20px 0px 20px;
    
                        h3 {
                            margin: 40px 0px 10px 0px;
                        }
    
                        p {
                            margin: 20px 0px 0px 0px;
                        }
                    }

                    .style-noheader {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin: 20px 20px 0px 20px;

                        .text {
                            width: 50%;
                            margin-right: 50px;

                            p {
                                margin-top: 0px;
                            }
                        }

                        .img {
                            width: 50%;

                            img {
                                width: 100%;
                                border-radius: 20px;
                                -webkit-box-shadow: 0px 0px 15px black;
                                        box-shadow: 0px 0px 15px black;
                            }

                            p {
                                font-size: 16px;
                                margin-top: 5px;
                                margin-bottom: 0px;
                                text-align: center;
                            }
                        }
                    }

                    .style-noheader-inverted {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin: 20px 20px 0px 20px;

                        .text {
                            width: 50%;
                            margin-left: 50px;

                            p {
                                margin-top: 0px;
                            }
                        }

                        .img {
                            width: 50%;

                            img {
                                width: 100%;
                                border-radius: 20px;
                                -webkit-box-shadow: 0px 0px 15px black;
                                        box-shadow: 0px 0px 15px black;
                            }

                            p {
                                font-size: 16px;
                                margin-top: 5px;
                                margin-bottom: 0px;
                                text-align: center;
                            }
                        }
                    }

                    .style-header {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin: 0px 20px;
                        padding-top: 100px;

                        .text {
                            width: 50%;
                            margin-right: 50px;

                            h3 {
                                margin: 0px 0px 10px 0px;
                            }
                        }

                        .img {
                            width: 50%;

                            img {
                                width: 100%;
                                border-radius: 20px;
                                -webkit-box-shadow: 0px 0px 15px black;
                                        box-shadow: 0px 0px 15px black;
                            }

                            p {
                                font-size: 16px;
                                margin-top: 5px;
                                margin-bottom: 0px;
                                text-align: center;
                            }
                        }
                    }

                    .style-header-inverted {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin: 0px 20px;
                        padding-top: 100px;

                        .text {
                            width: 50%;
                            margin-left: 50px;

                            h3 {
                                margin: 0px 0px 10px 0px;
                            }
                        }

                        .img {
                            width: 50%;

                            img {
                                width: 100%;
                                border-radius: 20px;
                                -webkit-box-shadow: 0px 0px 15px black;
                                        box-shadow: 0px 0px 15px black;
                            }

                            p {
                                font-size: 16px;
                                margin-top: 5px;
                                margin-bottom: 0px;
                                text-align: center;
                            }
                        }
                    }

                    .style-text {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        margin: 0px 20px;
                        padding-top: 100px;
    
                        h3 {
                            margin: 0px 0px 10px 0px;
                        }
                    }
                }

                .fake-block {
                    width: 100px;
                    height: 20px;
                }
            }

            section:nth-child(1) {
                margin: 0px;
            }
        }
    }

    .nav-mobile {
        z-index: 1;

        .nav-arrow {
            padding: 5px 0px;
            z-index: 1;
            background-color: #0A0A12;
            height: 60px;
            width: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: 0;
            top: 92px;
            cursor: pointer;
            transition: 0.6s ease-in-out;

            hr {
                width: 30px;
                height: 6px;
                margin: 6px 0px;
                border-radius: 9999px;
                background-color: #FEFEFE;
                border: none;
            }

            hr:first-child {
                rotate: 45deg;
                transition: 0.6s ease-in-out;
            }

            hr:last-child {
                rotate: -45deg;
                transition: 0.6s ease-in-out;
            }
        }

        .navOpenArrow {
            left: 100vw;
            margin-left: -70px;
            transition: 0.6s ease-in-out;
            background-color: #0a0a1200;

            hr:first-child {
                rotate: -45deg;
                transition: 0.6s ease-in-out;
            }

            hr:last-child {
                rotate: 45deg;
                transition: 0.6s ease-in-out;
            }
        }

        .navOpen {
            
            .nav-menu {
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                background-color: #0A0A12;
                position: fixed;
                top: 92px;
                left: 0;
                width: 100%;
                height: 405px;
                border-bottom: 2px solid #B4B9BD;
                animation: openNavMenu2 0.4s forwards ease-in-out;

                .nav-large {
                    display: inline-block;
                    text-decoration: none;
                    font-weight: 600;
                    color: #fefefe;
                    font-size: 24px;
                    letter-spacing: 0.2rem;
                    margin: 20px 0px 0px 10px;
                    -webkit-transition: ease-in-out 0.2s;
                    -o-transition: ease-in-out 0.2s;
                    transition: ease-in-out 0.2s;
                    animation: openNavMenuText2 0.6s forwards ease-in-out;
                }
    
                .nav-large:hover {
                    padding-left: 10px;
                    -webkit-transition: ease-in-out 0.2s;
                    -o-transition: ease-in-out 0.2s;
                    transition: ease-in-out 0.2s;
                }
    
                .nav-small {
                    display: inline-block;
                    text-decoration: none;
                    font-weight: 600;
                    color: #B4B9BD;
                    font-size: 18px;              
                    letter-spacing: 0.2rem;
                    margin: 0px 0px 0px 10px;
                    -webkit-transition: ease-in-out 0.2s;
                    -o-transition: ease-in-out 0.2s;
                    transition: ease-in-out 0.2s;
                    animation: openNavMenuText2 0.6s forwards ease-in-out;
                }
    
                .nav-small:hover {
                    padding-left: 10px;
                    -webkit-transition: ease-in-out 0.2s;
                    -o-transition: ease-in-out 0.2s;
                    transition: ease-in-out 0.2s;
                }
            }
        }

        @keyframes openNavMenu2 {
            0% {
                width: 0%;
            }
            100% {
                width: 100%;
            }
        }
        
        @keyframes openNavMenuText2 {
            0% {
                display: inline-block;
                opacity: 0;
            }
            66% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .navClosed {
            
            .nav-menu {
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                background-color: #0A0A12;
                position: fixed;
                top: 92px;
                left: 0;
                width: 100%;
                height: 405px;
                border-bottom: 2px solid #B4B9BD;
                animation: closeNavMenu2 0.6s forwards ease-in-out;

                .nav-large {
                    display: inline-block;
                    text-decoration: none;
                    font-weight: 600;
                    color: #fefefe;
                    font-size: 24px;
                    letter-spacing: 0.2rem;
                    margin: 20px 0px 0px 10px;
                    -webkit-transition: ease-in-out 0.2s;
                    -o-transition: ease-in-out 0.2s;
                    transition: ease-in-out 0.2s;
                    animation: closeNavMenuText2 0.4s forwards ease-in-out;
                }
    
                .nav-large:hover {
                    padding-left: 10px;
                    -webkit-transition: ease-in-out 0.2s;
                    -o-transition: ease-in-out 0.2s;
                    transition: ease-in-out 0.2s;
                }
    
                .nav-small {
                    display: inline-block;
                    text-decoration: none;
                    font-weight: 600;
                    color: #B4B9BD;
                    font-size: 18px;              
                    letter-spacing: 0.2rem;
                    margin: 0px 0px 0px 10px;
                    -webkit-transition: ease-in-out 0.2s;
                    -o-transition: ease-in-out 0.2s;
                    transition: ease-in-out 0.2s;
                    animation: closeNavMenuText2 0.4s forwards ease-in-out;
                }
    
                .nav-small:hover {
                    padding-left: 10px;
                    -webkit-transition: ease-in-out 0.2s;
                    -o-transition: ease-in-out 0.2s;
                    transition: ease-in-out 0.2s;
                }
            }
        }

        @keyframes closeNavMenu2 {
            0% {
                width: 100%;
            }
            33% {
                width: 100%;
            }
            100% {
                width: 0%;
            }
        }

        @keyframes closeNavMenuText2 {
            0% {
                opacity: 1;
            }
            99% {
                opacity: 0;
                visibility: visible;
                display: inline-block;
            }
            100% {
                display: none;
            }
        }

        .nav-temp {
            display: none;
            visibility: hidden;
        }

        @media screen and (max-width: 520px) {
            .nav-arrow {
                top: 62px;
            }

            .navOpen {
            
                .nav-menu {
                    top: 62px;
        
                    a {
                        font-size: 40px;
                    }
                }
            }

            .navClosed {
            
                .nav-menu {
                    top: 62px;
        
                    a {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .guide-page {

        .guide-page-container {
            justify-content: space-between;

            .navigation-window {
                width: 450px !important;
            }

            .information {
                width: 100%;

                section {
                    width: auto !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    .guide-page {

        .guide-page-container {

            .information {

                section {

                    .wrapper {

                        .style-header {
                            flex-direction: column;
                            align-items: center;

                            .text {
                                width: 100%;
                                margin: 0px;
                            }

                            .img {
                                margin-top: 30px;
                                width: 80%;
                            }
                        }

                        .style-noheader {
                            flex-direction: column;
                            align-items: center;

                            .text {
                                width: 100%;
                                margin: 0px;
                            }

                            .img {
                                margin-top: 30px;
                                width: 80%;
                            }
                        }

                        .style-header-inverted {
                            flex-direction: column-reverse;
                            align-items: center;

                            .text {
                                width: 100%;
                                margin: 0px;
                            }

                            .img {
                                margin-top: 30px;
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .guide-page {

        .guide-page-container {

            .navigation-window {

                .navigation {
                    padding: 10px 10px 10px 10px;
                }
            }

            .information {

                section {
                    padding: 20px 30px 20px 30px !important;

                    .wrapper {

                        .style-header {
                            flex-direction: column;
                            align-items: center;

                            .text {
                                width: 100%;
                                margin: 0px;
                            }

                            .img {
                                margin-top: 30px;
                                width: 100%;
                            }
                        }

                        .style-header-inverted {
                            flex-direction: column-reverse;
                            align-items: center;

                            .text {
                                width: 100%;
                                margin: 0px;
                            }

                            .img {
                                margin-top: 30px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .guide-page {

        .guide-page-container {

            .information {

                section {

                    .wrapper {

                        .medium-header {
                            margin-left: 0px;
                            margin-right: 0px;
                        }

                        .info {
                            margin-left: 0px;
                            margin-right: 0px;
                        }

                        .style-header {
                            margin-left: 0px;
                            margin-right: 0px;
                        }

                        .style-header-inverted {
                            margin-left: 0px;
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .guide-page {

        .guide-page-container {

            .navigation-window {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .guide-page {
        padding-top: 90px;
    }
}

#rootofnightmares {
    background-image: url(../img/guide/root-bg.png);
}

#kingsfall {
    background-image: url(../img/guide/king-bg.png);
}