/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$border-color: #97989b;
$main-color: #0A0A12;
$button-color: #111111;

// CSS for the landing, intro section
.background-color {
    background-color: $main-color;
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: landing-fade 2s;
            animation: landing-fade 2s;

    picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            min-width: 100%;
            min-height: 100%;
            animation: landing-fade 2s;
        }
    }

    @media screen and (max-width: 608px) {
        picture {
    
            img {
                width: auto;
                height: 100%;
            }
        }
    }

    @media screen and (min-width: 1920px) {
        picture {
            flex-direction: row;
    
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .text-box {
        z-index: 1;
        padding: 92px 30px 0px 30px;
        width: auto;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;    

        h2 {
            text-align: center;
            margin: 0px;
            font-size: 90px;
            letter-spacing: 0.4rem;
            text-shadow: 0px 5px 2px $main-color;
            -webkit-animation: fade-text 2.5s;
                    animation: fade-text 2.5s;
        }
        
        hr {
            margin: 0px;
            width: 150px;
            border: 5px solid #B4B9BD;
        }

        p {
            font-size: 24px;
            text-align: center;
            text-shadow: 0px 2px 2px $main-color;
            -webkit-animation: fade-text1 2.8s;
                    animation: fade-text1 2.8s;
        }

        .large-line {
            width: 100%;
            margin: 10px 0px 0px 0px;
            border: 2px solid #B4B9BD;
        }

        .arrow-box {
            width: 100%;
            padding-top: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            text-decoration: none;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-animation: fade-text 3.1s;
                    animation: fade-text 3.1s;

            .arrow {
                margin: 0px 20px;
                border-left: 21px solid transparent;
                border-right: 21px solid transparent;
                border-top: 25px solid #fefefe;
                -webkit-transition: ease-in-out 0.2s;
                -o-transition: ease-in-out 0.2s;
                transition: ease-in-out 0.2s;
            }

            .arrow:hover {
                cursor: pointer;
                -webkit-transform: scale(1.3);
                    -ms-transform: scale(1.3);
                        transform: scale(1.3);
                margin: 0px 24px;
            }
        }

        @-webkit-keyframes fade-text {
            0% {
                opacity: 0;
            }
            66% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes fade-text {
            0% {
                opacity: 0;
            }
            66% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        @-webkit-keyframes fade-text1 {
            0% {
                opacity: 0;
            }
            66% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        @keyframes fade-text1 {
            0% {
                opacity: 0;
            }
            66% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

@-webkit-keyframes landing-fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes landing-fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// CSS for the first section, Builds
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    background-color: $main-color;

    section {
        position: relative;
        overflow-x: hidden;
        padding-top: 125px;
        padding-bottom: 125px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 1920px;
        height: 648px;
        background-color: $main-color;    
        border-bottom: 5px solid;    
        -o-border-image: -o-linear-gradient(left, $main-color 10%, $border-color 30%, $border-color 70%, $main-color 90%) 3;    
           border-image: -webkit-gradient(linear, left top, right top, color-stop(10%, $main-color), color-stop(30%, $border-color), color-stop(70%, $border-color), color-stop(90%, $main-color)) 3;    
           border-image: linear-gradient(to right, $main-color 10%, $border-color 30%, $border-color 70%, $main-color 90%) 3;

        .cards {
            -webkit-animation: landing-fade 2s;
                    animation: landing-fade 2s;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 50%;

            .card {
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-transform-origin: bottom left;
                    -ms-transform-origin: bottom left;
                        transform-origin: bottom left;
                position: absolute;
                width: 500px;
                height: 300px;
                z-index: 4;
                border-radius: 30px;
                -webkit-transition: ease-in-out 0.8s;
                -o-transition: ease-in-out 0.8s;
                transition: ease-in-out 0.8s;
                letter-spacing: 0.2rem;
                overflow: hidden;
            }

            .card:nth-child(2) {
                z-index: 3;
            }

            .card:nth-child(3) {
                z-index: 2;
            }

            .card:nth-child(4) {
                z-index: 1;
            }

            .transform {
                -webkit-transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                        transform: rotate(-20deg);
            }

            .transform:nth-child(2) {
                -webkit-transform: rotate(-7deg);
                    -ms-transform: rotate(-7deg);
                        transform: rotate(-7deg);
            }

            .transform:nth-child(3) {
                -webkit-transform: rotate(5deg);
                    -ms-transform: rotate(5deg);
                        transform: rotate(5deg);
            }

            .transform:nth-child(4) {
                -webkit-transform: rotate(16deg);
                    -ms-transform: rotate(16deg);
                        transform: rotate(16deg);
            }
            
        }

        .raid-showcase {
            -webkit-animation: landing-fade 2s;
                    animation: landing-fade 2s;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 50%;

            .raid {
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-transform-origin: bottom;
                    -ms-transform-origin: bottom;
                        transform-origin: bottom;
                position: absolute;
                width: 300px;
                height: 500px;
                z-index: 4;
                border-radius: 30px;
                -webkit-transition: ease-in-out 0.8s;
                -o-transition: ease-in-out 0.8s;
                transition: ease-in-out 0.8s;
                letter-spacing: 0.2rem;
                overflow: hidden;
            }

            .raid:nth-child(2) {
                z-index: 3;
            }

            .raid:nth-child(3) {
                z-index: 2;
            }

            .transform-raid:nth-child(1) {
                -webkit-transform: scale(1.07);
                    -ms-transform: scale(1.07);
                        transform: scale(1.07);
            }

            .transform-raid:nth-child(2) {
                margin-right: 150px;
                margin-left: 0px;
                -webkit-transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                        transform: rotate(-20deg);
            }

            .transform-raid:nth-child(3) {
                margin-right: 0px;
                margin-left: 150px;
                -webkit-transform: rotate(20deg);
                    -ms-transform: rotate(20deg);
                        transform: rotate(20deg);
            }
        }

        .info {
            -webkit-animation: landing-fade 2s;
                    animation: landing-fade 2s;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 50%;
            z-index: 5;

            .text-container {
                max-width: 80%;

                h2 {
                    margin: 0px 0px 10px 0px;
                }

                hr {
                    margin: 0px;
                    width: 150px;
                    border: 5px solid $border-color;
                }

                .button {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    width: 220px;
                    height: 60px;
                    font-size: 18px;
                    background-color: $button-color;
                    border: 3px solid $border-color;
                    color: white;
                    text-align: center;
                    outline: none;
                    cursor: pointer;
                    -webkit-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                    margin: 50px 0px 0px 0px;
                    text-decoration: none;
                    letter-spacing: 0.2rem;
                }

                .button:hover {
                    -webkit-box-shadow:
                        0 0 0 4px $main-color,
                        0 0 0 7px hsl(0, 0%, 90%);
                            box-shadow:
                        0 0 0 4px $main-color,
                        0 0 0 7px hsl(0, 0%, 90%);
                    -webkit-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                }
            }
        }
    }
    
    .guide-section {

       .raid-showcase {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 50%;

            img {
                width: 500px;
            }
        }
    }

    .resource-section {
        border: none;

        .resource-showcase {
            -webkit-animation: landing-fade 2s;
                    animation: landing-fade 2s;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 50%;

            .resource {
                display: flex;
                justify-content: center;
                -webkit-transform-origin: bottom;
                    -ms-transform-origin: bottom;
                        transform-origin: bottom;
                position: absolute;
                width: 430px;
                height: 250px;
                z-index: 4;
                border-radius: 30px;
                -webkit-transition: ease-in-out 0.8s;
                -o-transition: ease-in-out 0.8s;
                transition: ease-in-out 0.8s;
                letter-spacing: 0.2rem;
                overflow: hidden;
            }

            .transform-resource:nth-child(1) {
                -webkit-transform-origin: bottom right;
                    -ms-transform-origin: bottom right;
                        transform-origin: bottom right;
                margin-left: 150px;
                margin-top: 120px;
                -webkit-transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                        transform: rotate(-20deg);
            }

            .transform-resource:nth-child(2) {
                -webkit-transform-origin: top right;
                    -ms-transform-origin: top right;
                        transform-origin: top right;
                margin-left: 280px;
                margin-top: 50px;
                -webkit-transform: rotate(30deg);
                    -ms-transform: rotate(30deg);
                        transform: rotate(30deg);
            }

            .transform-resource:nth-child(3) {
                margin-right: 150px;
                margin-bottom: 190px;
                -webkit-transform: rotate(-60deg);
                    -ms-transform: rotate(-60deg);
                        transform: rotate(-60deg);
            }

            .transform-resource:nth-child(4) {
                -webkit-transform: rotate(10deg);
                    -ms-transform: rotate(10deg);
                        transform: rotate(10deg);
            }
        }
    }
}

.load-anim {
    -webkit-animation: fadeInOnLoad 1s;
            animation: fadeInOnLoad 1s;
}

@-webkit-keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Other screens
@media screen and (max-width: 1320px) {
    .landing {
    
        .text-box {
    
            h2 {
                font-size: 70px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    .container {
        
        section {
            max-width: 100%;
            padding-top: 100px !important;
            padding-bottom: 100px !important;

            .info {

                .text-container {

                    h2 {
                        font-size: 60px;
                    }

                    hr {
                        width: 130px !important;
                        border: 4px solid $border-color !important;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            .cards {

                .card {
                    width: 400px !important;
                    height: 250px !important;
                }
            }

            .raid-showcase {

                .raid {
                    width: 250px !important;
                    height: 400px !important;
                }
            }
        }
    }

    .resource-section {
    
        .resource-showcase {

            .resource {
                width: 322px !important;
                height: 187px !important;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .container {
    
        section {
            padding-top: 80px !important;
            padding-bottom: 80px !important;

            .info {
                width: 100% !important;

                .text-container {

                    h2 {
                        font-size: 60px;
                    }

                    hr {
                        width: 130px !important;
                        border: 4px solid $border-color !important;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            .cards {
                display: none !important;
            }

            .raid-showcase {
                display: none !important;
            }
        }
    }

    .resource-section {
    
        .resource-showcase {
            display: none !important;
        }
    }
}

@media screen and (max-width: 550px) {
    .landing {
    
        .text-box {
    
            h2 {
                font-size: 50px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    .container {
    
        section {
            padding-top: 0px !important;
            padding-bottom: 0px !important;

            .info {
                width: 100% !important;

                .text-container {

                    h2 {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .landing {
    
        .text-box {
            padding: 62px 30px 0px 30px;
        }
    }
}

@media screen and (max-width: 520px) {
    .landing {
    
        .text-box {
            padding: 0px 15px 0px 15px;
    
            h2 {
                font-size: 35px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .landing {
    
        .text-box {
    
            h2 {
                font-size: 35px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 330px) {
    .landing {
    
        .text-box {
    
            h2 {
                font-size: 25px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}